extends bootstrap

block content
  div(class="container", id="maintable")
    div(class="row")
      div(class="col-md-12 col-sm-6")
        h1= message
    div(class="row")
      div(class="col-md-12 col-sm-6")
        h2= error.status
    div(class="row")
      div(class="col-md-12 col-sm-6")
        pre #{error.stack}
