extends bootstrap

append footer  
  script(src="/javascripts/update-sub.js")

block content
  div(class="container")
    div(class="row")
      div(class="col-md-8 col-sm-6")
        h3 Pumpkin Index
    div(class="row")
      br
    div(class="row")
      -for (var script in scripts)
        div(class="col-xs-6 col-sm-3")
          p
            a(href="#", role="button", class="btn btn-primary btn-block", onclick="playScript('" + scripts[script].scriptid + "')") #{scripts[script].scriptname}


