 
-for (var step in scriptstep)
  div(class="modal-header")
    button(type="button", class="close", data-dismiss="modal", aria-label="Close", onclick="getTable()") 
      span(aria-hidden="true") &times;
    h4(class="modal-title", id="myModalLabel") Update Script Step 
  div(class="modal-body", id="modal-body")
    div(id="msg-modal")
    form(id="submitScript")
      input(id="id", value="#{scriptstep[step].id}",type="hidden")
      div(class="form-group")
        label(for="step") Step 
        input(name="step", class="form-control", type="text", value=`${scriptstep[step].step}`)
      div(class="form-group") 
        label(for="node") Node 
        select( name="Node", class="form-control")
          -for (var node in nodes)
            option(value=""+ nodes[node].nodeid +"" selected=( nodes[node].nodeid == scriptstep[step].nodeid)) #{nodes[node].name}
      div(class="form-group") 
        label(for="action") Action 
        select( name="action", class="form-control")
          option(selected=(scriptstep[step].action == 'play')) play    
          option(selected=(scriptstep[step].action == 'trig')) trig
      div(class="form-group")
        label(for="track") Track 
        input(name="track", class="form-control", type="text", value=`${scriptstep[step].track}`)  
  div(class="modal-footer")
    button(type="button", class="btn btn-default", data-dismiss="modal") Close
    button(type="button", name="save", class="btn btn-primary",onclick="submitNode('submitScript','/calls/steps/" + scriptstep[step].id +"')") Save changes